on:
  push:
    branches:
      - 'master'
name:  Deploy website on push
jobs:
  web-deploy:
    name:  Deploy
    runs-on: ubuntu-latest
    steps:
    - name:  Get latest code
      uses: actions/checkout@v3

    - name:  Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: 103.21.58.98
        username: istcosa
        password: x4Mt&5u1
